#header{
    display: flex;
    justify-content: space-between;
}
#user{
    margin-top: 31px;
}
body{
    margin-left: 20px;
    margin-right: 20px;
}
#barra{
    margin-top: 11px;
}
#formulario{
    border-top: 10px solid grey;
}
.input{
    margin-top: 10px;
}